.cartWrapper {
    width: 80%;
    margin: auto;
    height: 200px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.emptyCart {
    text-align: center;
    font-size: 50px;
}