.dropdown {
    position: relative;
    font-size: 15px;
}

.dropdownLabel {
    cursor: pointer;
    font-size: large;
    display: flex;
    align-items: center;
}


.dropdownList {
    position: absolute;
    color: black;
    background-color: rgba(217, 245, 236, 0.6);
    padding: 5px;
    width: 580px;
    left: -150px;
    top: 48px;
    overflow-y: scroll;
    display: none;
    max-height: 200px;
}

.dropdownList.show {
    display: block;
}

@media only screen and (max-width: 700px) {
    .dropdownList {
        background: none;
        position: relative;
        width: 100vw;
        left: 0px;
        top: 0;
    }
}